<a href="https://colab.research.google.com/github/Tayyab7404/Movie-Recommendation-System/blob/main/MovieRecommendationSystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Import Library**

In [1]:
import pandas as pd
import numpy as np

### **Import Data**

In [3]:
df = pd.read_csv('Movies Recommendation.csv')
df.head()

,Movie_ID,Movie_Title,Movie_Genre,Movie_Language,Movie_Budget,Movie_Popularity,Movie_Release_Date,Movie_Revenue,Movie_Runtime,Movie_Vote,...,Movie_Homepage,Movie_Keywords,Movie_Overview,Movie_Production_House,Movie_Production_Country,Movie_Spoken_Language,Movie_Tagline,Movie_Cast,Movie_Crew,Movie_Director
0,1,Four Rooms,Crime Comedy,en,4000000,22.876230,09-12-1995,4300000,98,6.5,...,NaN,hotel new year's eve witch bet hotel room,It's Ted the Bellhop's first night on the job....,"[{""name"": ""Miramax Films"", ""id"": 14}, {""name"":...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]",Twelve outrageous guests. Four scandalous requ...,Tim Roth Antonio Banderas Jennifer Beals Madon...,"[{'name': 'Allison Anders', 'gender': 1, 'depa...",Allison Anders
1,2,Star Wars,Adventure Action Science Fiction,en,11000000,126.393695,25-05-1977,775398007,121,8.1,...,http://www.starwars.com/films/star-wars-episod...,android galaxy hermit death star lightsaber,Princess Leia is captured and held hostage by ...,"[{""name"": ""Lucasfilm"", ""id"": 1}, {""name"": ""Twe...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","A long time ago in a galaxy far, far away...",Mark Hamill Harrison Ford Carrie Fisher Peter ...,"[{'name': 'George Lucas', 'gender': 2, 'depart...",George Lucas
2,3,Finding Nemo,Animation Family,en,94000000,85.688789,30-05-2003,940335536,100,7.6,...,http://movies.disney.com/finding-nemo,father son relationship harbor underwater fish...,"Nemo, an adventurous young clownfish, is unexp...","[{""name"": ""Pixar Animation Studios"", ""id"": 3}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","There are 3.7 trillion fish in the ocean, they...",Albert Brooks Ellen DeGeneres Alexander Gould ...,"[{'name': 'Andrew Stanton', 'gender': 2, 'depa...",Andrew Stanton
3,4,Forrest Gump,Comedy Drama Romance,en,55000000,138.133331,06-07-1994,677945399,142,8.2,...,NaN,vietnam veteran hippie mentally disabled runni...,A man with a low IQ has accomplished great thi...,"[{""name"": ""Paramount Pictures"", ""id"": 4}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","The world will never be the same, once you've ...",Tom Hanks Robin Wright Gary Sinise Mykelti Wil...,"[{'name': 'Alan Silvestri', 'gender': 2, 'depa...",Robert Zemeckis
4,5,American Beauty,Drama,en,15000000,80.878605,15-09-1999,356296601,122,7.9,...,http://www.dreamworks.com/ab/,male nudity female nudity adultery midlife cri...,"Lester Burnham, a depressed suburban father in...","[{""name"": ""DreamWorks SKG"", ""id"": 27}, {""name""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]",Look closer.,Kevin Spacey Annette Bening Thora Birch Wes Be...,"[{'name': 'Thomas Newman', 'gender': 2, 'depar...",Sam Mendes

### **Describe Data**

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 425 entries, 0 to 424
Data columns (total 21 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Movie_ID                  425 non-null    int64
 1   Movie_Title               425 non-null    object
 2   Movie_Genre               425 non-null    object
 3   Movie_Language            425 non-null    object
 4   Movie_Budget              425 non-null    int64
 5   Movie_Popularity          425 non-null    float64
 6   Movie_Release_Date        425 non-null    object
 7   Movie_Revenue             425 non-null    int64
 8   Movie_Runtime             425 non-null    int64
 9   Movie_Vote                425 non-null    float64
 10  Movie_Vote_Count          425 non-null    int64
 11  Movie_Homepage            179 non-null    object
 12  Movie_Keywords            424 non-null    object
 13  Movie_Overview            425 non-null    object
 14  Movie_Production_House    425 non-null    object
 15  Movie_Production_Country  425 non-null    object
 16  Movie_Spoken_Language     425 non-null    object
 17  Movie_Tagline             403 non-null    object
 18  Movie_Cast                425 non-null    object
 19  Movie_Crew                424 non-null    object
 20  Movie_Director            422 non-null    object
dtypes: float64(2), int64(5), object(14)
memory usage: 69.9+ KB

In [5]:
df.shape

(425, 21)

In [6]:
df.columns

Index(['Movie_ID', 'Movie_Title', 'Movie_Genre', 'Movie_Language',
       'Movie_Budget', 'Movie_Popularity', 'Movie_Release_Date',
       'Movie_Revenue', 'Movie_Runtime', 'Movie_Vote', 'Movie_Vote_Count',
       'Movie_Homepage', 'Movie_Keywords', 'Movie_Overview',
       'Movie_Production_House', 'Movie_Production_Country',
       'Movie_Spoken_Language', 'Movie_Tagline', 'Movie_Cast', 'Movie_Crew',
       'Movie_Director'],
      dtype='object')

### **Get Feature Selection**

In [7]:
df_features = df[['Movie_Genre','Movie_Keywords','Movie_Tagline','Movie_Cast','Movie_Director']].fillna('')

#### selected five existing features to recommend movies.It may vary from one project to another.Like one can add vote counts,budget,language etc.

In [8]:
df_features.shape

(425, 5)

In [9]:
df_features

,Movie_Genre,Movie_Keywords,Movie_Tagline,Movie_Cast,Movie_Director
0,Crime Comedy,hotel new year's eve witch bet hotel room,Twelve outrageous guests. Four scandalous requ...,Tim Roth Antonio Banderas Jennifer Beals Madon...,Allison Anders
1,Adventure Action Science Fiction,android galaxy hermit death star lightsaber,"A long time ago in a galaxy far, far away...",Mark Hamill Harrison Ford Carrie Fisher Peter ...,George Lucas
2,Animation Family,father son relationship harbor underwater fish...,"There are 3.7 trillion fish in the ocean, they...",Albert Brooks Ellen DeGeneres Alexander Gould ...,Andrew Stanton
3,Comedy Drama Romance,vietnam veteran hippie mentally disabled runni...,"The world will never be the same, once you've ...",Tom Hanks Robin Wright Gary Sinise Mykelti Wil...,Robert Zemeckis
4,Drama,male nudity female nudity adultery midlife cri...,Look closer.,Kevin Spacey Annette Bening Thora Birch Wes Be...,Sam Mendes
...,...,...,...,...,...
420,Horror Thriller,female nudity nudity mask babysitter halloween,The Night He Came Home,Donald Pleasence Jamie Lee Curtis P.J. Soles N...,John Carpenter
421,Animation Family Comedy Adventure,mammoth sloth ice age barrier ice ice melting,The Ice age is melting away.,Ray Romano John Leguizamo Denis Leary Queen La...,Carlos Saldanha
422,Comedy,crime fighter cook drug dealer dying and death...,"Go ahead, you tell him you didn't do your home...",Arnold Schwarzenegger Penelope Ann Miller Pame...,Ivan Reitman
423,Family Animation,lion hippopotamus giraffe penguin zebra,Someone's got a zoo loose.,Ben Stiller Chris Rock David Schwimmer Jada Pi...,Eric Darnell
424,Adventure Action Thriller,paris london england spy cia terrorist,Expect the Impossible.,Tom Cruise Jon Voight Emmanuelle B\u00e9art He...,

In [10]:
x=df_features['Movie_Genre']+' '+df_features['Movie_Keywords']+' '+df_features['Movie_Tagline']+' '+df_features['Movie_Cast']+' '+df_features['Movie_Director']

In [11]:
x

0      Crime Comedy hotel new year's eve witch bet ho...
1      Adventure Action Science Fiction android galax...
2      Animation Family father son relationship harbo...
3      Comedy Drama Romance vietnam veteran hippie me...
4      Drama male nudity female nudity adultery midli...
                             ...
420    Horror Thriller female nudity nudity mask baby...
421    Animation Family Comedy Adventure mammoth slot...
422    Comedy crime fighter cook drug dealer dying an...
423    Family Animation lion hippopotamus giraffe pen...
424    Adventure Action Thriller paris london england...
Length: 425, dtype: object

In [12]:
x.shape

(425,)

### **Get Feature Text conversion to Tokens**

In [13]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [14]:
tfidf=TfidfVectorizer()

In [15]:
x=tfidf.fit_transform(x)

In [16]:
x.shape

(425, 4240)

In [17]:
print(x)

  (0, 127)	0.1672090120132036
  (0, 103)	0.1672090120132036
  (0, 3764)	0.1672090120132036
  (0, 2380)	0.1672090120132036
  (0, 2332)	0.1672090120132036
  (0, 301)	0.1565512056483183
  (0, 1915)	0.1342796553994632
  (0, 266)	0.14312395759306187
  (0, 164)	0.14312395759306187
  (0, 3185)	0.14898937169139476
  (0, 3743)	0.10540220871276905
  (0, 2215)	0.08846503662763536
  (0, 2727)	0.060935853918451556
  (0, 4115)	0.1672090120132036
  (0, 1345)	0.09602687058455887
  (0, 4100)	0.11606001507765436
  (0, 1935)	0.14312395759306187
  (0, 3703)	0.09874313029471359
  (0, 2748)	0.08106800186093915
  (0, 942)	0.13076973136958592
  (0, 1317)	0.11424651090636771
  (0, 1725)	0.20602196104447124
  (0, 1827)	0.14530455043423893
  (0, 333)	0.1672090120132036
  (0, 2257)	0.1565512056483183
  :	:
  (423, 3442)	0.16000679847063223
  (423, 697)	0.1484086444322044
  (423, 936)	0.12272815875142952
  (423, 1243)	0.10991995927170993
  (423, 148)	0.1446535633789776
  (424, 894)	0.2930287394494673
  (424, 3877)	0.2930287394494673
  (424, 1825)	0.2930287394494673
  (424, 1218)	0.2743512559406703
  (424, 4003)	0.2743512559406703
  (424, 1164)	0.2743512559406703
  (424, 711)	0.2508204095793724
  (424, 1949)	0.2508204095793724
  (424, 1692)	0.24242188698835118
  (424, 3508)	0.21889104062705336
  (424, 2256)	0.16984584084500393
  (424, 3691)	0.2610993704971482
  (424, 2819)	0.2145006398849977
  (424, 871)	0.2145006398849977
  (424, 1174)	0.16677374654522595
  (424, 3734)	0.1018138165464154
  (424, 3763)	0.16531126364019097
  (424, 33)	0.10404317136820909
  (424, 52)	0.10598710294036577
  (424, 3703)	0.08652217560280069

### **Get Similarity Score using Cosine Similarity**

#### cosine_similarity computes the L2-normalized dot product of vectors. Euclidean(L2) normalization projects the vectors onto the unit sphere and their dot product is then the cosine of the angle between the points denoted by the vectors.

In [18]:
from sklearn.metrics.pairwise import cosine_similarity

In [19]:
Similarity_Score=cosine_similarity(x)

In [20]:
Similarity_Score

array([[1.        , 0.01333813, 0.03900162, ..., 0.01804607, 0.        ,
        0.00854347],
       [0.01333813, 1.        , 0.00791895, ..., 0.01833343, 0.        ,
        0.01590329],
       [0.03900162, 0.00791895, 1.        , ..., 0.        , 0.02890563,
        0.00507233],
       ...,
       [0.01804607, 0.01833343, 0.        , ..., 1.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.02890563, ..., 0.        , 1.        ,
        0.        ],
       [0.00854347, 0.01590329, 0.00507233, ..., 0.        , 0.        ,
        1.        ]])

In [21]:
Similarity_Score.shape

(425, 425)

### **Get Movie Name as Input from User and Validate fir Closest Spelling**

In [22]:
Favourite_Movie_Name=input('Enter your favourite movie name :')

Enter your favourite movie name :the dark knight

In [23]:
All_Movies_Title_List=df['Movie_Title'].tolist()

In [24]:
import difflib

In [25]:
Movie_Recommendation=difflib.get_close_matches(Favourite_Movie_Name,All_Movies_Title_List)
print(Movie_Recommendation)

['The Dark Knight']

In [26]:
Close_Match=Movie_Recommendation[0]
print(Close_Match)

The Dark Knight

In [27]:
Index_of_Close_Match_Movie=df[df.Movie_Title==Close_Match]['Movie_ID'].values[0]
print(Index_of_Close_Match_Movie)

69

In [28]:
Recommendation_Score=list(enumerate(Similarity_Score[Index_of_Close_Match_Movie]))

In [29]:
len(Recommendation_Score)

425

### **Get All Movies Sort Based on Recommendation Score wrt Favourite Movie**

In [30]:
Sorted_Similar_movies=sorted(Recommendation_Score,key=lambda x:x[1],reverse=True)

In [31]:
print('Top 30 Movies Suggested for You : \n')
i=1
for movie in Sorted_Similar_movies:
  index=movie[0]
  title_from_index=df[df.index==index]['Movie_Title'].values[0]
  if(i<31):
    print(i,'.',title_from_index)
    i+=1

Top 30 Movies Suggested for You :

1 . Star Trek III: The Search for Spock
2 . Star Trek IV: The Voyage Home
3 . Star Trek V: The Final Frontier
4 . Star Trek: The Motion Picture
5 . Star Trek VI: The Undiscovered Country
6 . Star Trek II: The Wrath of Khan
7 . The X Files
8 . Star Trek: Generations
9 . Troy
10 . Men in Black II
11 . Aliens
12 . Dead Poets Society
13 . Jurassic Park III
14 . Mars Attacks!
15 . Star Trek: Insurrection
16 . Cube
17 . 2001: A Space Odyssey
18 . A History of Violence
19 . The Terminator
20 . Terminator 2: Judgment Day
21 . Live and Let Die
22 . Diamonds Are Forever
23 . Star Wars
24 . Total Recall
25 . On Her Majesty's Secret Service
26 . Spider-Man 3
27 . Spider-Man 2
28 . Gattaca
29 . Star Trek: Nemesis
30 . The Chronicles of Narnia: The Lion, the Witch and the Wardrobe

### **Top 10 Movie Recommendation System**

In [32]:
Movie_Name=input('Enter your favourite movie name :')
list_of_all_titles=df['Movie_Title'].tolist()
Find_Close_Match=difflib.get_close_matches(Movie_Name,list_of_all_titles)
Close_Match=Find_Close_Match[0]
Index_of_Movie=df[df.Movie_Title==Close_Match]['Movie_ID'].values[0]
Recommendation_Score=list(enumerate(Similarity_Score[Index_of_Movie]))
sorted_similar_movies=sorted(Recommendation_Score,key=lambda x:x[1],reverse=True)
print('Top 10 Movies suggested for you :\n')
i=1
for movie in sorted_similar_movies:
  index=movie[0]
  title_from_index=df[df.Movie_ID==index]['Movie_Title'].values
  if(i<11):
    print(i,'.',title_from_index)
    i+=1

Enter your favourite movie name :batman begins
Top 10 Movies suggested for you :

1 . ['Batman Begins']
2 . ['Apollo 13']
3 . ['Saw III']
4 . ['Flashdance']
5 . ['Poseidon']
6 . ['The Man with the Golden Gun']
7 . ['Tomorrow Never Dies']
8 . ["Dave Chappelle's Block Party"]
9 . ['Syriana']
10 . ['Absolute Power']